$counter-font-size: 30px;
$counter-palette: green;
$app-font: "Lobster Two", cursive;
$button-height: 440px;

body {
  margin: 0;
}
.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}
.counter-container {
  margin: 30px;
}
.fruit-container {
  margin: 70px;
  display: flex;
  justify-content: inherit;
  width: 70vw;
}
.spin-me-btn {
  background: url("../assets/images/pineapple.svg");
  outline: none;
  width: 318px;
  height: $button-height;
  border: none;
  transition: transform 1s;
  transform: scale(0.9);
}
.change-color-btn {
  background: url("../assets/images/banana.svg");
  width: 460px;
  height: $button-height;
  transition: filter 1s;
}

button {
  border: none;
  outline: none;
}
button:active {
  outline: none;
}

h1 {
  font-family: $app-font;
}

.counter {
  font-family: $app-font;
  font-size: $counter-font-size;
  color: $counter-palette;
}
.counter-btns {
  margin: 10px;
}
.counter-btns-minus,
.counter-btns-plus {
  color: white;
  background-color: $counter-palette;
  border-right: 5px white solid;
  width: 100px;
  height: 50px;
  font-size: $counter-font-size;
}
